* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  color: #333;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  list-style: none;
}

.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 300px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.product-card h3 {
  margin-top: 10px;
}

.product-card p {
  margin-top: 5px;
}

.product-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-form h2 {
  text-align: center;
}
.product-status {
  text-align: center;
}
.product-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.product-form-delete input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.product-form-delete button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #b91414;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.product-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.product-form-delete {
  display: block;
  width: 50%;
  padding: 10px;
  background-color: #dc3546e5;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.forms-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}